<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="border-bottom: solid gray 1px;">
      <div class="w-100 text-center">
        <span class="text-muted">Menu</span>
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <app-menu></app-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>wildlife-discovery</span>
    </mat-toolbar>

    <!-- Rutas (navigation-routing.module.ts) -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
